In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

In [2]:
#importing dataset by reading csv file
df=pd.read_csv('/root/code/thesis/codeFolder/LatestDataInUse/csv/7learnings.csv')

/tmp/ipykernel_570969/10260996.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/root/code/thesis/codeFolder/LatestDataInUse/csv/7learnings.csv')

In [3]:
df.head()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,formatted_date
0,725940,99999,2005,1,25,51.299999,4,45.299999,4.0,1013.500000,...,NaN,0.00,NaN,False,False,False,False,False,False,2005-01-25
1,725940,99999,2005,3,7,51.500000,4,48.000000,4.0,1025.000000,...,NaN,0.00,NaN,False,False,False,False,False,False,2005-03-07
2,725940,99999,2005,5,11,51.000000,4,45.700001,4.0,1021.799988,...,NaN,0.01,NaN,False,False,False,False,False,False,2005-05-11
3,725869,99999,2005,1,27,30.200001,5,26.600000,5.0,NaN,...,NaN,0.00,NaN,False,False,False,False,False,False,2005-01-27
4,725827,99999,2005,10,23,55.000000,5,28.799999,5.0,1015.599976,...,NaN,0.00,NaN,False,False,False,False,False,False,2005-10-23

In [4]:
# Specify the columns to drop
columns_to_drop = ['min_temperature', 'min_temperature_explicit', 'num_mean_station_pressure_samples','mean_station_pressure','year','month','day','snow_depth', 'num_mean_sealevel_pressure_samples', 'mean_sealevel_pressure' ]

# Drop the specified columns
df_dropped = df.drop(columns=columns_to_drop)

In [5]:
df_dropped.shape

(32842, 23)

In [6]:
df_dropped_sorted = df_dropped.sort_values(by='formatted_date')

In [7]:
df_dropped_sorted.head(25)

,station_number,wban_number,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,mean_visibility,num_mean_visibility_samples,mean_wind_speed,...,max_temperature,max_temperature_explicit,total_precipitation,fog,rain,snow,hail,thunder,tornado,formatted_date
29412,725373,99999,38.799999,24,31.400000,24.0,NaN,9.0,19.0,6.0,...,32.000000,True,0.00,True,True,True,True,True,True,2005-01-01
252,725976,99999,28.200001,24,23.799999,24.0,NaN,7.9,24.0,11.2,...,24.799999,False,0.00,False,False,False,False,False,False,2005-01-01
16206,725835,99999,28.400000,4,24.299999,4.0,NaN,14.3,4.0,6.3,...,26.600000,True,0.09,False,False,False,False,False,False,2005-01-01
13497,726170,14742,40.500000,24,30.700001,24.0,1021.000000,9.3,24.0,13.0,...,26.600000,True,0.01,True,True,True,True,True,True,2005-01-01
13350,726145,94705,40.099998,24,30.600000,24.0,1022.099976,9.7,24.0,11.7,...,16.000000,False,0.18,True,True,True,True,True,True,2005-01-01
19773,725720,24127,35.900002,24,28.700001,24.0,1010.400024,7.9,24.0,11.0,...,28.000000,False,0.09,True,True,True,True,True,True,2005-01-01
16581,725349,99999,28.100000,24,21.000000,24.0,1027.599976,8.7,24.0,11.1,...,21.900000,False,0.18,True,True,True,True,True,True,2005-01-01
23048,725366,14825,42.200001,24,36.000000,24.0,1027.800049,8.3,24.0,8.9,...,33.099998,False,0.00,True,True,True,True,True,True,2005-01-01
23021,725495,99999,21.700001,24,13.700000,24.0,NaN,7.7,24.0,13.0,...,17.600000,True,0.00,True,True,True,True,True,True,2005-01-01
23392,725376,14853,34.799999,24,25.299999,24.0,1028.400024,10.0,24.0,7.4,...,24.799999,True,0.00,False,False,False,False,False,False,2005-01-01
26182,726073,99999,39.500000,24,32.400002,24.0,NaN,7.4,24.0,7.2,...,32.000000,True,0.09,False,False,False,False,False,False,2005-01-01
9862,725387,99999,19.000000,23,13.300000,23.0,1032.699951,NaN,NaN,12.3,...,17.600000,True,0.02,False,False,False,False,False,False,2005-01-01
29552,725477,99999,29.700001,24,18.500000,24.0,NaN,7.3,24.0,11.1,...,26.600000,True,0.00,True,True,True,True,True,True,2005-01-01
3572,725920,24257,44.099998,24,39.400002,24.0,1010.700012,9.6,24.0,11.0,...,36.000000,False,0.12,True,True,True,True,True,True,2005-01-01
26336,725450,14990,26.200001,24,19.500000,24.0,1026.800049,8.2,24.0,11.8,...,21.000000,True,0.18,True,True,True,True,True,True,2005-01-01
23261,725946,24286,42.700001,24,38.500000,24.0,1008.099976,8.3,24.0,13.3,...,39.200001,True,1.38,False,False,False,False,False,False,2005-01-01
16551,725624,99999,28.700001,24,20.500000,24.0,NaN,7.4,24.0,9.8,...,26.600000,True,0.00,False,False,False,False,False,False,2005-01-01
10128,725414,99999,43.599998,24,41.700001,24.0,NaN,3.3,24.0,8.6,...,35.599998,True,0.00,True,True,True,True,True,True,2005-01-02
10155,725407,99999,29.500000,24,27.700001,24.0,1024.400024,6.8,24.0,9.5,...,18.000000,False,0.23,True,True,True,True,True,True,2005-01-02
13067,725869,99999,24.200001,9,19.200001,9.0,NaN,25.0,9.0,2.4,...,19.400000,False,0.00,False,False,False,False,False,False,2005-01-02
7019,725314,99999,60.799999,24,57.599998,24.0,1023.099976,8.9,24.0,4.8,...,55.400002,True,0.40,False,False,False,False,False,False,2005-01-02
16893,725462,14937,35.900002,24,31.700001,24.0,1024.699951,7.4,24.0,8.0,...,33.099998,False,0.56,True,True,True,True,True,True,2005-01-02
29723,725465,14950,34.299999,24,31.900000,24.0,1024.699951,6.4,24.0,9.6,...,30.200001,True,0.08,True,True,True,True,True,True,2005-01-02
6601,725847,93230,27.299999,23,18.700001,23.0,1010.400024,8.7,23.0,5.5,...,23.000000,True,0.13,False,False,False,False,False,False,2005-01-02
29679,725775,4111,21.200001,24,14.000000,24.0,1018.400024,10.0,24.0,6.5,...,14.000000,False,0.01,False,False,False,False,False,False,2005-01-02

In [8]:
df_dropped_sorted.shape

(32842, 23)

In [9]:
df_dropped_sorted['mean_sealevel_pressure'] = df_dropped_sorted['mean_sealevel_pressure'].interpolate()

In [10]:
df_dropped_sorted.head(25)

,station_number,wban_number,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,mean_visibility,num_mean_visibility_samples,mean_wind_speed,...,max_temperature,max_temperature_explicit,total_precipitation,fog,rain,snow,hail,thunder,tornado,formatted_date
29412,725373,99999,38.799999,24,31.400000,24.0,NaN,9.0,19.0,6.0,...,32.000000,True,0.00,True,True,True,True,True,True,2005-01-01
252,725976,99999,28.200001,24,23.799999,24.0,NaN,7.9,24.0,11.2,...,24.799999,False,0.00,False,False,False,False,False,False,2005-01-01
16206,725835,99999,28.400000,4,24.299999,4.0,NaN,14.3,4.0,6.3,...,26.600000,True,0.09,False,False,False,False,False,False,2005-01-01
13497,726170,14742,40.500000,24,30.700001,24.0,1021.000000,9.3,24.0,13.0,...,26.600000,True,0.01,True,True,True,True,True,True,2005-01-01
13350,726145,94705,40.099998,24,30.600000,24.0,1022.099976,9.7,24.0,11.7,...,16.000000,False,0.18,True,True,True,True,True,True,2005-01-01
19773,725720,24127,35.900002,24,28.700001,24.0,1010.400024,7.9,24.0,11.0,...,28.000000,False,0.09,True,True,True,True,True,True,2005-01-01
16581,725349,99999,28.100000,24,21.000000,24.0,1027.599976,8.7,24.0,11.1,...,21.900000,False,0.18,True,True,True,True,True,True,2005-01-01
23048,725366,14825,42.200001,24,36.000000,24.0,1027.800049,8.3,24.0,8.9,...,33.099998,False,0.00,True,True,True,True,True,True,2005-01-01
23021,725495,99999,21.700001,24,13.700000,24.0,1028.100037,7.7,24.0,13.0,...,17.600000,True,0.00,True,True,True,True,True,True,2005-01-01
23392,725376,14853,34.799999,24,25.299999,24.0,1028.400024,10.0,24.0,7.4,...,24.799999,True,0.00,False,False,False,False,False,False,2005-01-01
26182,726073,99999,39.500000,24,32.400002,24.0,1030.549988,7.4,24.0,7.2,...,32.000000,True,0.09,False,False,False,False,False,False,2005-01-01
9862,725387,99999,19.000000,23,13.300000,23.0,1032.699951,NaN,NaN,12.3,...,17.600000,True,0.02,False,False,False,False,False,False,2005-01-01
29552,725477,99999,29.700001,24,18.500000,24.0,1021.699982,7.3,24.0,11.1,...,26.600000,True,0.00,True,True,True,True,True,True,2005-01-01
3572,725920,24257,44.099998,24,39.400002,24.0,1010.700012,9.6,24.0,11.0,...,36.000000,False,0.12,True,True,True,True,True,True,2005-01-01
26336,725450,14990,26.200001,24,19.500000,24.0,1026.800049,8.2,24.0,11.8,...,21.000000,True,0.18,True,True,True,True,True,True,2005-01-01
23261,725946,24286,42.700001,24,38.500000,24.0,1008.099976,8.3,24.0,13.3,...,39.200001,True,1.38,False,False,False,False,False,False,2005-01-01
16551,725624,99999,28.700001,24,20.500000,24.0,1013.533325,7.4,24.0,9.8,...,26.600000,True,0.00,False,False,False,False,False,False,2005-01-01
10128,725414,99999,43.599998,24,41.700001,24.0,1018.966675,3.3,24.0,8.6,...,35.599998,True,0.00,True,True,True,True,True,True,2005-01-02
10155,725407,99999,29.500000,24,27.700001,24.0,1024.400024,6.8,24.0,9.5,...,18.000000,False,0.23,True,True,True,True,True,True,2005-01-02
13067,725869,99999,24.200001,9,19.200001,9.0,1023.750000,25.0,9.0,2.4,...,19.400000,False,0.00,False,False,False,False,False,False,2005-01-02
7019,725314,99999,60.799999,24,57.599998,24.0,1023.099976,8.9,24.0,4.8,...,55.400002,True,0.40,False,False,False,False,False,False,2005-01-02
16893,725462,14937,35.900002,24,31.700001,24.0,1024.699951,7.4,24.0,8.0,...,33.099998,False,0.56,True,True,True,True,True,True,2005-01-02
29723,725465,14950,34.299999,24,31.900000,24.0,1024.699951,6.4,24.0,9.6,...,30.200001,True,0.08,True,True,True,True,True,True,2005-01-02
6601,725847,93230,27.299999,23,18.700001,23.0,1010.400024,8.7,23.0,5.5,...,23.000000,True,0.13,False,False,False,False,False,False,2005-01-02
29679,725775,4111,21.200001,24,14.000000,24.0,1018.400024,10.0,24.0,6.5,...,14.000000,False,0.01,False,False,False,False,False,False,2005-01-02

In [8]:
df.columns

Index(['station_number', 'wban_number', 'year', 'month', 'day', 'mean_temp',
       'num_mean_temp_samples', 'mean_dew_point', 'num_mean_dew_point_samples',
       'mean_sealevel_pressure', 'num_mean_sealevel_pressure_samples',
       'mean_station_pressure', 'num_mean_station_pressure_samples',
       'mean_visibility', 'num_mean_visibility_samples', 'mean_wind_speed',
       'num_mean_wind_speed_samples', 'max_sustained_wind_speed',
       'max_gust_wind_speed', 'max_temperature', 'max_temperature_explicit',
       'min_temperature', 'min_temperature_explicit', 'total_precipitation',
       'snow_depth', 'fog', 'rain', 'snow', 'hail', 'thunder', 'tornado',
       'formatted_date'],
      dtype='object')

In [4]:
df.shape

(32842, 32)

In [5]:
# Remove all rows with NaN values
df_cleaned = df.dropna()

In [7]:
df_cleaned.shape

(0, 32)